.mj_menu
{
	width:100%; float:left;
}
.mj_menu a
{
	width:50%; float:left; border-bottom:1px solid #EBEBEB; padding-top:0.5rem; display:block; background:#FFF;
}
.mj_menu a p
{
	display:block; float:left; width:32%; padding-left:3%;
}
.mj_menu a p img
{
	width:100%; 
}
.mj_menu a h3
{
	width:65%; float:left; font-size:1.1rem; font-weight:normal; display:block; line-height:1.5rem; margin-top:0.6rem; text-indent:0.2rem; color:#333;
}
.mj_menu a.left_border
{
	background:url(../images/xiangsudian.png) repeat-y right #FFF;
}
.mj_menu a span
{
	display:block; float:left; width:65%; font-size:0.8rem; color:#999;text-indent:0.3rem;
}
.remengd
{
	width:100%; float:left; background:#FFF; padding-top:0.5rem; margin-top:0.5rem;
}
.remengd div.tit
{
	width:100%; float:left;
}
.remengd div.tit h3
{
	float:left; font-size:1rem; font-weight:normal; color:#D30B36; text-indent:0.5rem;
}
.remengd div.tit span
{
	display:block; float:right; color:#666; font-size:0.8rem; padding-right:0.5rem;
}
.remengd div.item
{
	width:95%; float:left; padding-left:3%; padding-right:2%; border-bottom:1px solid #F3F3F3; padding-top:0.7rem; padding-bottom:0.7rem;
}
.remengd div.item span
{
	display:block; float:left; width:20%; margin-top:0.25rem;
}
.remengd div.item span img
{
	width:100%;
}
.remengd div.item h4
{
	display:block; float:left; font-weight:normal; width:78%; font-size:0.9rem; padding-left:2%;overflow:hidden;white-space:nowrap;
	text-overflow:ellipsis;color:#333;
}
.remengd div.item p
{
	display:block; float:left; width:78%; font-size:0.8rem; color:#666; padding-left:2%; margin-top:0.3rem; line-height:1.2rem;
    height:2.4rem; 
}
.mingshi
{
	width:100%; float:left; background:#FFF; padding-top:0.5rem; margin-top:0.5rem;
}
.mingshi div.tit
{
	width:100%; float:left;
}
.mingshi div.tit h3
{
	float:left; font-size:1rem; font-weight:normal; color:#D30B36; text-indent:0.5rem;
}
.mingshi div.tit span
{
	display:block; float:right; color:#666; font-size:0.8rem; padding-right:0.5rem;
}
.mingshi div.item
{
	width:95%; float:left; padding-left:3%; padding-right:2%; border-bottom:1px solid #F3F3F3; padding-top:0.7rem; padding-bottom:0.7rem;
}
.mingshi div.item span
{
	display:block; float:left; width:20%; margin-top:0.5rem
}
.mingshi div.item span img
{
	width:100%;
}
.mingshi div.item h4
{
	display:block; float:left; font-weight:normal; width:78%; font-size:0.9rem; padding-left:2%; line-height:1.2rem;color:#333;
}

.mingshi div.item h4 i
{
	display:inline-block;  text-align:center; font-style:normal; padding-top:0.2rem;
}
.mingshi div.item em
{
	display:block; float:left; font-weight:normal; width:78%; font-size:0.8rem; padding-left:2%; color:#999;
}
.mingshi div.item h4 i img
{
	width:1rem;
}
.mingshi div.item p
{
	display:block; float:left; width:78%; font-size:0.8rem; color:#666; padding-left:2%; margin-top:0.1rem; line-height:1.2rem;
}

.mingjiaask
{
	width:100%; float:left; background:#FFF; padding-top:0.5rem; margin-top:0.5rem;
}
.mingjiaask div.tit
{
	width:100%; float:left;
}
.mingjiaask div.tit h3
{
	float:left; font-size:1rem; font-weight:normal; color:#D30B36; text-indent:0.5rem;
}
.mingjiaask div.tit span
{
	display:block; float:right; color:#666; font-size:0.8rem; padding-right:0.5rem;
}
.mingjiaask div.item
{
	width:96%; float:left; padding-left:2%; padding-right:2%; margin-top:1rem; border-bottom:1px solid #F3F3F3; padding-bottom:1rem;
}
.mingjiaask div.item div.huida
{
	width:100%; float:left;
}
.mingjiaask div.item div.huida span
{
	width:15%; float:left; display:block;
}
.mingjiaask div.item div.huida span img
{
	width:80%; margin-left:10%;
}
.mingjiaask div.item div.huida div.name
{
	display:block; float:left; width:65%;
}
.mingjiaask div.item div.huida div.name h4
{
	font-weight:normal; font-size:0.9rem; color:#06C;
}
.mingjiaask div.item div.huida div.name h4 i
{
	display:inline-block;
}
.mingjiaask div.item div.huida div.name h4 i img
{
	width:1rem;
}
.mingjiaask div.item div.huida div.name em
{
	font-weight:normal; width:78%; font-size:0.8rem;  color:#999;
}
.mingjiaask div.item div.huida a.ask
{
	display:block; float:right; border:1px solid #F00; padding:0.2rem 0.5rem; border-radius:5px; font-size:1rem; color:#F00; margin-right:2%;
}
.mingjiaask div.item div.wen
{
	background:#EAEAEA; width:97%; float:left; margin-left:1.5%; margin-right:1.5%; margin-top:0.5rem; border-radius:3px;
}
.mingjiaask div.item div.wen span
{
	width:15%; float:left; display:block;
}
.mingjiaask div.item div.wen span img
{
	width:70%; margin-left:15%; margin-top:0.5rem;
}
.mingjiaask div.item div.wen p
{
	display:block; float:left; width:83%; font-size:0.8rem; line-height:1.2rem; margin-top:0.7rem; color:#666; padding-right:2%;
}
.mingjiaask div.item div.wen p a
{
	 color:#06C;
}
.mingjiaask div.item div.wen em
{
	display:block; float:left; width:98%; text-align:right;margin-bottom:0.5rem;padding-right:2%; color:#999;
}
.huida_body
{
	width:96%; float:left; font-size:0.9rem; padding-right:2%;padding-left:2%; color:#666; line-height:1.2rem; margin-top:0.5rem;margin-bottom:0.5rem
}
.nei_top
{
	margin-top:3rem;
}

/******************投资观点**********************/
.tzgdlist
{
	width:100%; float:left;
}
.tzgdlist div.item
{
	width:100%; float:left; background:#FFF; padding-top:1rem; padding-bottom:0.5rem; margin-top:0.5rem; border-bottom:1px solid #e3e3e3;
}
.tzgdlist div.item div.tit
{
	width:100%; float:left;
}
.tzgdlist div.item div.tit span
{
	width:15%; float:left; margin-left:3%;
}
.tzgdlist div.item div.tit span img
{
	width:2.7rem; height:2.7rem; border-radius:3px;
}
.tzgdlist div.item div.tit h4
{
	width:40%; float:left; display:block; font-size:0.9rem; font-weight:normal;
}
.tzgdlist div.item div.tit h4 i
{
	display:inline-block;
}
.tzgdlist div.item div.tit h4 i img
{
	width:1rem;
}
.tzgdlist div.item div.tit p
{
	width:60%; float:left; display:block; color:#999; font-size:0.8rem;
}
.tzgdlist div.item div.tit em
{
	display:block; float:left; width:40%; font-size:0.7rem; color:#999;margin-right:2%; text-align:right;
}
.tzgdlist div.item div.newstit
{
	width:95%; float:left; margin-left:3%; margin-right:2%;
}
.tzgdlist div.item div.newstit h3
{
	display:block; float:left; width:100%; font-size:0.9rem; font-weight:normal;
}
.tzgdlist div.item div.newstit h3 a
{
	color:#333;
}
.tzgdlist div.item div.newstit p
{
	display:block; float:left; width:100%; font-size:0.8rem; color:#666;height:2.4rem;/*overflow:hidden;*/
}
.tzgdlist div.item div.img_read
{
	width:95%; float:left; margin-left:3%; margin-right:2%;
}
.tzgdlist div.item div.img_read p
{
	display:block; float:left; width:100%; 
}
.tzgdlist div.item div.img_read p img
{
	width:3rem;
}
.tzgdlist div.item div.img_read span
{
	display:block; float:left; width:100%; font-size:0.7rem; color:#999; text-align:right;
}
.tzgdlist div.item div.img_read span i,.tzgdlist div.item div.img_read span em
{
	display:inline-block; font-style:normal; 
}
.tzgdlist div.item div.img_read span i img
{
	width:0.8rem; margin-right:0.2rem;
}
.linkmore
{
	width:100%; float:left; margin-top:0.5rem;
}
.linkmore a
{
	display:block; font-size:0.9rem; text-align:center; line-height:2rem; background:#EAEAEA;
}
.showarticletit
{
	width:100%; float:left; background:#FFF; padding-top:1rem;
}
.showarticletit span
{
	width:15%; float:left; margin-left:3%;
}
.showarticletit span img
{
	width:2.7rem; height:2.7rem; border-radius:3px;
}
.showarticletit h4
{
	width:40%; float:left; display:block; font-size:1rem; font-weight:normal;
}
.showarticletit h4 i
{
	display:inline-block;
}
.showarticletit h4 i img
{
	width:1rem;
}
.showarticletit p
{
	width:60%; float:left; display:block; color:#999; font-size:1rem;
}
.showarticletit em
{
	display:block; float:left; width:40%; font-size:0.7rem; color:#999;margin-right:2%; text-align:right;
}
.showarticletit h3
{
	display:block; float:left; width:100%; font-size:1.2rem;width:96%; padding-left:3%; padding-right:3%; margin-top:1rem; font-weight:normal;
}
.showarticlebody
{
	background:#FFF; font-size:1rem; width:96%; padding-left:3%; padding-right:3%; line-height:1.8rem; padding-top:1rem; float:left;
}
.showarticlebody img 
{
    width:100% !important;
}
.showarticle_good
{
	width:100%; float:left; background:#FFF; padding-top:2rem; padding-bottom:2rem;
}
.showarticle_good a
{
	display:block; width:90%; margin-left:5%; margin-right:5%; background:#C30; color:#FFF; text-align:center; font-size:1rem; border-radius:5px; padding-top:0.5rem; padding-bottom:0.5rem;
}
.showarticle_good a i,.showarticle_good a em,.showarticle_good a span
{
	display:inline-block;
}
.showarticle_good a i img
{
	width:1rem;
}
.showarticle_fenxain
{
	width:94%; float:left; background:#FFF; padding-left:3%;padding-right:3%; font-size:0.7rem; color:#999; text-align:right;padding-bottom:2rem;
}
.showarticle_good #big
{
    height:1rem;
}
/*************************名家问答******************************/

.mingjiaask_list
{
	width:100%; float:left;  padding-top:0.5rem; margin-top:4.5rem;
}
.notop
{
	margin-top:0rem
}

.mingjiaask_list div.item
{
	width:96%; float:left; padding-left:2%; padding-right:2%; padding-top:1rem; margin-top:0.5rem;  padding-bottom:1rem;  border-bottom:1px solid #e3e3e3; background:#FFF;
}
.mingjiaask_list div.item div.huida
{
	width:100%; float:left;
}
.mingjiaask_list div.item div.huida span
{
	width:15%; float:left; display:block;
}
.mingjiaask_list div.item div.huida span img
{
	width:80%; margin-left:10%;
}
.mingjiaask_list div.item div.huida div.name
{
	display:block; float:left; width:65%;
}
.mingjiaask_list div.item div.huida div.name h4
{
	font-weight:normal; font-size:0.9rem; color:#06C;
}
.mingjiaask_list div.item div.huida div.name h4 i
{
	display:inline-block;
}
.mingjiaask_list div.item div.huida div.name h4 i img
{
	width:1rem;
}
.mingjiaask_list div.item div.huida div.name em
{
	font-weight:normal; width:78%; font-size:0.8rem;  color:#999;
}
.mingjiaask_list div.item div.huida a.ask
{
	display:block; float:right; border:1px solid #F00; padding:0.2rem 0.5rem; border-radius:5px; font-size:1rem; color:#F00; margin-right:2%;
}
.mingjiaask_list div.item div.wen
{
	background:#EAEAEA; width:97%; float:left; margin-left:1.5%; margin-right:1.5%; margin-top:0.5rem; border-radius:3px;
}
.mingjiaask_list div.item div.wen span
{
	width:15%; float:left; display:block;
}
.mingjiaask_list div.item div.wen span img
{
	width:70%; margin-left:15%; margin-top:0.5rem;
}
.mingjiaask_list div.item div.wen p
{
	display:block; float:left; width:83%; font-size:0.8rem; line-height:1.2rem; margin-top:0.7rem; color:#666; padding-right:2%;
}
.mingjiaask_list div.item div.wen p a
{
	 color:#06C;
}
.mingjiaask_list div.item div.wen em
{
	display:block; float:left; width:98%; text-align:right;margin-bottom:0.5rem;padding-right:2%; color:#999;
}
.huida_body
{
	width:96%; float:left; font-size:0.9rem; padding-right:2%;padding-left:2%; color:#666; line-height:1.2rem; margin-top:0.5rem;
}
.ask_type
{
	width:100%; position:fixed; top:2.8rem; left:0px;
}
.ask_type a
{
	display:block; float:left; width:50%; background:#FFF; border-bottom:1px solid #DDD; font-size:1rem; text-align:center; line-height:2rem; color:#333;
}
.ask_type a.def
{
	display:block; float:left; width:50%; background:#FFF; border-bottom:1px solid #BD0B19; color:#BD0B19;
}

.mingjiaask_wen_list
{
	width:100%; float:left;  padding-top:0.5rem; margin-top:3.5rem;
}

.mingjiaask_wen_list div.item
{
	width:96%; float:left; padding-left:2%; padding-right:2%; padding-top:0.5rem; margin-top:0.5rem;  padding-bottom:0.5rem;  border-bottom:1px solid #e3e3e3; background:#FFF;
}
.mingjiaask_wen_list div.item div.userhead
{
	width:15%; float:left; 
}
.mingjiaask_wen_list div.item div.userhead img
{
	width:80%; margin-left:10%;
}
.mingjiaask_wen_list div.item div.content
{
	width:85%; float:left; 
}
.mingjiaask_wen_list div.item div.content span.u_name
{
	display:block; float:left; width:100%;color:#06C; font-size:0.9rem; line-height:1.5rem;
}
.mingjiaask_wen_list div.item div.content span.u_date
{
	display:block; float:left; width:100%;color:#999; font-size:0.8rem; line-height:1.5rem;
}
.mingjiaask_wen_list div.item div.content span.type
{
	display:block; float:left; width:100%; color:#999; font-size:0.8rem; text-align:right;
}
.mingjiaask_wen_list div.item div.content div.bodys
{
	width:100%; float:left;font-size:0.95rem; color:#666; line-height:1.5rem;
}
/************************找名家***********************/
.tearchlist
{
	width:100%; float:left;
}
.tearchlist div.item
{
	width:100%; float:left; background:#FFF; padding-top:1rem; padding-bottom:0.5rem; margin-top:0.5rem; border-bottom:1px solid #e3e3e3;
}
.tearchlist div.item div.t_head
{
	width:20%; float:left;
}
.tearchlist div.item div.t_head img
{
	width:80%; margin-left:10%; border-radius:3px;
}
.tearchlist div.item div.t_head h4
{
	display:block; float:left; font-weight:normal; width:100%;}
.tearchlist div.item div.t_head h4 a
{
	display:block; border:1px solid #F00; padding:0.1rem 0px; border-radius:5px; font-size:1rem; color:#F00; width:79%; margin-left:10%; text-align:center;
}
.tearchlist div.item div.t_name
{
	width:65%; float:left;
}
.tearchlist div.item div.t_name h3
{
	display:block; float:left; width:100%; font-weight:normal; font-size:1rem;
}
.tearchlist div.item div.t_name h3 a
{color:#06C;
}
.tearchlist div.item div.t_name h3 i
{
	display:inline-block;
}
.tearchlist div.item div.t_name h3 i img
{
	width:1rem; 
}
.tearchlist div.item div.t_name h4
{
	font-weight:normal; color:#666; font-size:1rem;
}
.tearchlist div.item div.t_name p
{
	display:block; float:left; width:100%; 
}
.tearchlist div.item div.t_name p.msinfo
{
	font-size:1rem; color:#999;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.tearchlist div.item div.t_name p.link
{
	font-size:1rem; color:#999; margin-top:0.2rem;
}
.tearchlist div.item div.t_name p.link span
{
	display:block; float:left ; width:33%; 
}
.tearchlist div.item div.t_name p.link span i
{
	display:block; float:left;
}
.tearchlist div.item div.t_name p.link span em
{
	display:block; float:left; line-height:1.3rem;
}
.tearchlist div.item div.t_name p.link span i img
{
	width:1rem;
}
.tearchlist div.item div.t_guanzhu
{
	width:15%; float:left;
}
.tearchlist div.item div.t_guanzhu a
{
	display:block; float:left;  width:100%;
}
.tearchlist div.item div.t_guanzhu a em
{
	display:block; float:left;font-style:normal; width:100%; text-align:center;
}
.tearchlist div.item div.t_guanzhu a em img
{
	width:1rem;
}
.tearchlist div.item div.t_guanzhu a i
{
	display:block; float:left; font-style:normal; font-size:0.6rem; width:100%; text-align:center; color:#4C87C6; line-height:0.5rem;
}
.tearchershow
{
	width:100%; float:left; margin-top:4rem;
}
.tearchershow div.s_head
{
	width:100%; float:left; background:#FFF;padding-bottom:0.5rem; padding-top:0.5rem;
}
.tearchershow div.s_head span
{
	width:30%; float:left; display:block;
}
.tearchershow div.s_head span img
{
	width:80%; margin-left:10%; height:4.5rem;
}
.tearchershow div.s_head h3
{
	display:block; float:left; width:70%; font-weight:normal; font-size:0.9rem; color:#4C87C6; 
}
.tearchershow div.s_head h3 i
{
	display:inline-block;
}
.tearchershow div.s_head h3 i img
{
	width:1rem;
}
.tearchershow div.s_head h4
{
	display:block; float:left; width:70%;font-weight:normal; font-size:0.9rem; color:#666;
}
.tearchershow div.s_pingjia
{ 
	width:100%; float:left;border-top:1px solid #e3e3e3; background:#FFF; 
}
.tearchershow div.s_pingjia ul
{
	width:100%; float:left;
}
.tearchershow div.s_pingjia ul li
{
	width:28.33%; float:left; background:url(../images/xiangsudian.png) repeat-y right;padding-top:0.5rem; padding-left:5%;
}
.tearchershow div.s_pingjia ul li.last
{
	background:none;
}
.tearchershow div.s_pingjia ul li h3
{
	width:100%; float:left; display:block; font-weight:normal; text-align:center; font-size:0.9rem; color:#666; line-height:1.2rem;
}
.tearchershow div.s_pingjia ul li h3 i
{
	display:block; font-style:normal; float:left; margin-right:0.2rem;
}
.tearchershow div.s_pingjia ul li h3 i img
{
	width:1rem;
}
.tearchershow div.s_pingjia ul li h3 em
{
	display:block;font-style:normal; float:left;
}
.tearchershow div.s_pingjia ul li span
{
	width:100%; float:left; display:block; font-size:1rem; color:#F60;
}
.tearchershow div.s_info
{
	width:100%; float:left; margin-top:1rem; background:#fff;
}
.tearchershow div.s_info ul
{
	width:100%; float:left;
}
.tearchershow div.s_info ul li
{
	width:100%; float:left;border-bottom:1px solid #EBEBEB; line-height:2.5rem;
}
.tearchershow div.s_info ul li.noborder
{
	border:none;
}
.tearchershow div.s_info ul li h3
{
	display:block; float:left; width:30%; font-size:0.9rem; color:#666; font-weight:normal; text-indent:0.5rem;
}
.tearchershow div.s_info ul li span
{
	display:block; float:left; width:67%; padding-right:3%; 
}
.tearchershow div.s_info ul li span em
{
	display:block; float:left; width:95%; margin-right:5%;font-size:0.9rem; color:#333; text-align:right;overflow:hidden;white-space:nowrap;
	text-overflow:ellipsis;
}
.tearchershow div.s_info ul li span a
{
	color:#333; display:block; float:left; width:95%;padding-right:5%; font-size:0.9rem;
}
.tearchershow div.s_info ul li span a b
{
	display:block; width:90%;overflow:hidden;white-space:nowrap;
	text-overflow:ellipsis; background-size:5%; font-weight:normal; float:left; text-align:right
}
.tearchershow div.s_info ul li span a i
{
	display:block; float:left; width:10%; text-align:right;
}
.tearchershow div.s_info ul li span a i img
{
	width:0.5rem; margin-top:0.8rem;
}
.tearchershow div.s_fuwu
{
	width:100%; float:left; margin-top:1rem; background:#fff;
}
.tearchershow div.s_fuwu ul
{
	width:100%; float:left;
}
.tearchershow div.s_fuwu ul li
{
	width:100%; float:left;border-bottom:1px solid #EBEBEB; line-height:2.5rem;
}
.tearchershow div.s_fuwu ul li.noborder
{
	border:none;
}
.tearchershow div.s_fuwu ul li h3
{
	display:block; float:left; width:30%; font-size:0.9rem; color:#333; font-weight:normal; text-indent:0.5rem;
}
.tearchershow div.s_fuwu ul li span
{
	display:block; float:left; width:67%; padding-right:3%; 
}

.tearchershow div.s_fuwu ul li span a
{
	color:#666; display:block; float:left; width:95%; padding-right:5%; font-size:0.9rem; text-align:right
}
.tearchershow div.s_fuwu ul li span a b.live
{
	color:#900; text-align:left;
}
.tearchershow div.s_fuwu ul li span a b
{
	display:block; width:90%;overflow:hidden;white-space:nowrap;
	text-overflow:ellipsis; background-size:5%; font-weight:normal; float:left;
}
.tearchershow div.s_fuwu ul li span a i
{
	display:block; float:left; width:10%;
}
.tearchershow div.s_fuwu ul li span a i img
{
	width:0.5rem; margin-top:0.8rem;
}
.tearch_footer{
	width:100%;float:left;margin-top:4rem;
	}
.tearch_footer ul{
	width:100%;float:left;position: fixed;bottom: 0px;left: 0px;z-index: 999;border-top:1px solid #d6d3d3; background:#FFF;
	}
.tearch_footer ul li
{
	width:33.33%; float:left; background:url(../images/xiangsudian1.png) repeat-y right; line-height:3rem;
}
.tearch_footer ul li a
{
	color:#4C87C6; display:block; text-align:center; width:100%;
}
.tearch_footer ul li a i
{
	display:inline-block; 
}
.tearch_footer ul li a i img
{
	width:1rem;
}
.tearch_footer ul li a em
{
	display:inline-block;  font-style:normal; font-size:1rem; padding-left:0.2rem
}
.content_01 
{
   margin-top:4rem;font-size:1rem;text-indent:2em;width:94%;padding:3%;
}

/***********************问名家*****/
.mingjiatoask
{
	width:100%; float:left;  padding-top:0.5rem; 
}
.mingjiatoask div.ask_fenlei
{
	width:85%; float:left; margin-left:5%; background:#FFF; border-radius:5px; font-size:0.9rem; padding:2.5%;
}
.mingjiatoask div.ask_fenlei h3
{
	display:block; float:left; font-weight:normal; color:#999;
}
.mingjiatoask div.ask_fenlei span
{
	display:block; float:left; 
}
.mingjiatoask div.ask_fenlei span select
{
	background:#FFF; font-size:0.9rem; color:#666;
}
.mingjiatoask div.ask_content
{
	width:90%; float:left; margin-left:5%; margin-top:0.5rem;
}
.mingjiatoask div.ask_content textarea
{
	width:95%;
	border-radius:5px; background:#FFF; height:5rem; padding:2.5%; font-size:0.9rem;
}
.mingjiatoask div.ask_btn
{
	width:90%; float:left; margin-left:5%; margin-top:0.5rem;
}
.mingjiatoask div.ask_btn input
{
	width:100%; background:#BD0B19; color:#FFF; font-size:0.9rem; border-radius:5px; line-height:2rem;
}

/************************名家看盘 （文字直播）*************************/
.txtlivetitlist
{
	width:100%; float:left;
}
.txtlivetitlist div.item
{
	width:100%; float:left; background:#FFF; margin-top:0.5rem; padding-top:0.5rem;padding-bottom:0.5rem;border-bottom:1px solid #EBEBEB;
}
.txtlivetitlist div.item div.txt_head
{
	width:15%; float:left;
}
.txtlivetitlist div.item div.txt_head span
{
	display:block; float:left; margin-left:10%; width:80%;
}
.txtlivetitlist div.item div.txt_head span img
{
	width:100%; border-radius:3px; margin-top:0.2rem;
}
.txtlivetitlist div.item div.txt_tit
{
	width:65%; float:left;
}
.txtlivetitlist div.item div.txt_tit h3
{
	display:block; float:left; width:100%; font-size:0.9rem; font-weight:normal;
}
.txtlivetitlist div.item div.txt_tit h3 a
{
	 color:#666;
}
.txtlivetitlist div.item div.txt_tit h3 i
{
	display:inline-block; 
}
.txtlivetitlist div.item div.txt_tit h3 i img
{
	width:1rem;
}
.txtlivetitlist div.item div.txt_tit h4
{
	display:block; float:left; width:100%; font-weight:normal;font-size:0.9rem; color:#999; margin-top:0.2rem;
}
.txtlivetitlist div.item div.txt_tit p
{
	display:block; float:left; width:99%; font-size:0.9rem; color:#666; margin-top:0.3rem;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
}
.txtlivetitlist div.item div.txt_tit p span
{
	 font-size:0.8rem; color:#999;
}
.txtlivetitlist div.item div.txt_guanzhu
{
	width:20%; float:left; margin-top:2rem; 
}
.txtlivetitlist div.item div.txt_guanzhu a
{
	display:block; float:left; width:100%; text-align:center; color:#4C87C6; font-size:0.7rem; background:url(../images/xiangsudian.png) repeat-y left;
}
.txtlivetitlist div.item div.txt_guanzhu a em
{
	display:inline-block; font-style:normal;
}
.txtlivetitlist div.item div.txt_guanzhu a i
{
	display:inline-block; background:#4C87C6; color:#FFF; font-style:normal; padding:0.1rem 0; border-radius:3px;width:2.5rem;
}
.liveimglist div.item li 
{
    margin-left:5%;width:90%; line-height:1.5rem;font-size: 0.95rem;color:#666;
}
.liveimglist div.item  img.xx
{
    width:0.8rem;vertical-align:middle;
}
.liveimglist div.item li.title_info 
{
    height:2rem;
}
.liveimglist ul li img, .liveimglist .content img 
{
    max-width:150px;
}

/**********************/
.liveimglist
{
	width:100%; float:left; margin-top:5rem;
}
.liveimglist div.item
{
	width:100%; float:left; background:#FFF; margin-top:0.5rem; padding-top:0.5rem;padding-bottom:0.5rem;border-bottom:1px solid #EBEBEB;
}
.liveimglist div.item div.content
{
	width:90%; float:left; margin-left:5%; font-size:0.9rem; color:#666;
}
.liveimglist div.item div.content a.pay {
font-size:16px;color:#F00;font-style:normal;
    }
.liveimglist div.item span.date
{
	  font-size:0.7rem; color:#999;background:rgba(0, 0, 0, 0) url("../images/shijian.jpg") no-repeat scroll 0 1px;padding:3px 6px 3px 10px;margin-left:3%;
}
.liveimglist div.item span.hd 
{
    font-size:0.7rem;line-height:0.7rem
}

/************直播家六区*************************/
.livetalk_list
{
	width:100%; float:left; margin-top:5rem;
}

.livetalk_list div.item
{
	width:96%; float:left; padding-left:2%; padding-right:2%; padding-top:0.5rem; margin-top:0.5rem;  padding-bottom:0.5rem;  border-bottom:1px solid #e3e3e3; background:#FFF;
}
.livetalk_list div.item div.userhead
{
	width:15%; float:left; 
}
.livetalk_list div.item div.userhead img
{
	width:80%; margin-left:10%;
}
.livetalk_list div.item div.content
{
	width:85%; float:left; 
}
.livetalk_list div.item div.content div.u_name_face
{
	width:90%;float:left;
}
.livetalk_list div.item div.content div.u_re
{
	width:10%; float:left;
}
.livetalk_list div.item div.content div.u_re img
{
	width:1.2rem;
}
.livetalk_list div.item div.content span.u_name
{
	display:block; float:left; width:100%;color:#06C; font-size:0.9rem; line-height:1.5rem;
}
.livetalk_list div.item div.content span.u_date
{
	display:block; float:left; width:100%;color:#999; font-size:0.8rem; line-height:1.5rem;
}
.livetalk_list div.item div.content span.type
{
	display:block; float:left; width:100%; color:#999; font-size:0.8rem; text-align:right;
}
.livetalk_list div.item div.content div.bodys
{
	width:100%; float:left;font-size:0.95rem; color:#666; line-height:1.5rem;
}
.livetalk_list div.item div.content div.re_bodys
{
	width:90%; float:left;font-size:0.95rem; color:#666; line-height:1.5rem; background:#E7E7E7; border-radius:3px; padding:5%; margin-top:0.5rem;
}
.livetalk_list div.item div.content div.re_bodys span
{
	color:#4C87C6;
}
/*****************底部直播交流***************/
.livetakl_fload_top
{
	width:100%; float:left; margin-bottom:3rem;
}
.livetakl_fload
{
	width:96%; position:fixed; bottom:0px; left:0px; border-top:1px solid #D0D0D0; background:#F0F0F0; padding:2%;
}
.livetakl_fload div.input_txt
{
	width:78%; float:left; margin-right:2%;
}
.livetakl_fload div.input_txt textarea
{
	width:95%; border:1px solid #C8C8C8; border-radius:5px; height:1rem;padding:0.5rem;
}
.livetakl_fload div.input_btn
{
	width:20%; float:left;
}
.livetakl_fload div.input_btn input
{
	background:#CDCDCD; color:#FFF; font-size:1rem; width:99%; height:2rem;border-radius:5px; border:1px solid #CDCDCD;
}
.livetakl_fload div.input_btn input.def
{
background:#BD0B19; color:#FFF; font-size:1rem; width:99%; height:2rem;border-radius:5px; border:1px solid #BD0B19;
}
/*暂无评论*/
.nullList 
{
    width:100%;line-height:200px;text-align:center;color:#808080;font-size:1rem;display:none;
}
.imgNull 
{
    vertical-align:middle;margin-right:10px;width:40px;
}
/*立即签约*/
.content_signing 
{
   margin-top:3rem;font-size:1rem;width:96%;padding:2%;
}
.content_signing .title_signing 
{
    height:3rem;line-height:3rem;font-size:1rem;
}
.content_signing  .item
{
    background:#fff none repeat scroll 0 0;padding:2% 3%;float:left;width:93%;border:1px solid #ccc;position:relative;
}
.content_signing  .item .img_sign 
{
    float:left;width:20%;/*border:1px solid red;*/text-align:center;
}
.content_signing  .item .text_sign 
{
    height:4.5rem;border-bottom:1px dashed #e5e5e5;
}
.content_signing .item .text_sign .info_sign 
{
    font-size:1rem;padding-left:25%;
}
.content_signing .item .text_sign .info_bottom 
{
    font-size:0.8em;color:#808080;width:100%;
}
.content_signing .item .info_content
{
    float:left;width:80%;
}
.content_signing .item .btn_sign
{
    width:100%;text-align:center;line-height:2.5rem;
}
.content_signing .item .btn_sign a
{
    font-size:0.8em;padding:0.4em 1em;border-radius:0.5em;border:1px solid red;color:red;letter-spacing:0.1rem;
}
.position_xin 
{
    position:absolute;top:-1px;left:-1px;z-index:1000
}
.s_fuwu_signing 
{
    width:94%;padding:2% 0;font-family:微软雅黑;margin-top:1rem;float:left;
}
.s_fuwu_signing h4
{
    color:#bd0b19;font-size:1rem;font-weight:100;margin-bottom:0.5rem;
}
.s_fuwu_signing ul li
{
    text-indent:1em;color:#000;font-size:1em;line-height:2rem;
}
.s_fuwu_signing ul li em
{
    color:#bd0b19;font-weight:bold;
}
/*完善个人信息*/
.information 
{
    width:100%;margin-top:3rem;
}
.information .info_title 
{
    font-size:0.9rem;color:#ccc;text-align:center;line-height:3rem;
}
.information ul li
{
    width:100%;text-align:center;line-height:3rem;
}
.information ul li input
{
    border: 1px solid #999;border-radius: 5px;font-size: 1rem;line-height: 1.5rem;outline: medium none;padding: 0.25rem;
}
.information ul li #txt_name, #txt_iphone 
{
    width:15rem;
}
.information ul li #txt_code
{
    width:7rem;margin-right:0.5rem
}
.information ul li #btn_code
{
    width:7.5rem;
}
.information ul li #info_sunmit
{
    width:15.5rem; background:#bd0b19  none repeat scroll 0 0;color:white;text-align:center;
}
/*日志评论*/
 .log_commen_list 
{
    border-top:1px solid #ededed;width:100%;float:left;
}
.log_commen_list .item  
{
    background: #fff none repeat scroll 0 0;float: left;width: 94%;border-bottom:1px solid #ededed;padding:3%;
}
.log_commen_list .item span 
{
    float: left;width: 15%;
}
.log_commen_list .item span img 
{
    height: 2.7rem;width: 2.7rem;border-radius:50%;
}
.log_commen_list .item h4 
{
    display: block;float: left;font-size: 1rem;font-weight: normal;width: 40%;
}
.log_commen_list .item em.commhuifu 
{
    float: right;text-align: right;width: 1.5rem;line-height:2rem;
}
.log_commen_list .item em.commhuifu img 
{
    float: left;margin-right: 2%;text-align: right;width: 40%;width:1.2rem;
}
.log_commen_list .item p.date 
{
    color: #999;display: block;float: left;font-size: 1rem;width: 60%;font-size:0.9rem;
}
.log_commen_list .item .commen_con 
{
    width:98%;float:left;font-size:0.9rem;color:#666;margin-left:2%;
}
.log_commen_list .item .commen_con .us
{
    color:#999;
}
/*粉丝列表*/
 .fanslist 
 {
    width:92%;padding:0 4%;margin-top:3.5rem;float:left;
}
.fanslist .item 
{
   width:100%;padding:0.5rem 0 0.3rem 0;border-bottom:1px dotted #e2e2e2;float:left;
}
.fanslist .item span 
{
   float:left;width:15%;
}
.fanslist .item span img 
{
   width:3rem;border-radius:0.3rem;
}
.fanslist .item em 
{
   float:left;margin-left:0.5rem;font-size:1.2rem;color:#666;width:80%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
}

